body {
    background-image: radial-gradient( hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.compareBoard{
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.optionPicked{
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-weight: 700;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
    
}
.compareBoard .option {
    width: 200px;
    height: 200px;
}

.option__border {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionHouse{
    width: 150px;
    height: 150px;
}
.optionHouse__circle{
    width: 150px;
    height:150px;
    background-color: rgba(15, 2, 61, 0.26);
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    .compareBoard {
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "option1 option2" "result result";
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .optionPicked {
        flex-direction: column-reverse;
    }

    .optionPicked .title {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .compareBoard .option {
        width: 140px;
        height: 140px;
    }

    .optionPicked:nth-of-type(1) {
        grid-area: option1;
    }

    .optionPicked:nth-of-type(2) {
        grid-area: option2;
    }

    .resultContainer {
        grid-area: result;
    }

}
