.modal{
    height: 100%;
    max-height: 150px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    border: 2px solid rgba(172, 170, 170, 0.747);
    background-image: radial-gradient( hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    align-items: center;
}
.modal__text{
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.modal__score{
    width: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.modal__score--text{
    margin-top: 10px;
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
}
.modal__score--number{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: hsl(229, 25%, 31%);
}


@media screen and (max-width: 768px){
    .modal {
        height: 100px;
    }

    .modal__score {
        height: 85%;
    }

    .modal__text {
        font-size: 1.2rem;
    }
}

